<!DOCTYPE html>
<html lang="en">
<head>
    <title>Order Cancelled</title>
</head>
<body>
<h1>Your order has been cancelled</h1>
<p>Dear [Customer's Name],</p>
<p>We have to cancel your order #[Order Number] placed on [Order Date] due to this reason: .</p>
<table>
    <thead>
    <tr>
        <th>Product</th>
        <th>SKU</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <!-- Repeat this section for each product in the order -->
    <tr>
        <td>[Product Name]</td>
        <td>[SKU]</td>
        <td>[Product Quantity]</td>
        <td>[Product Price]</td>
    </tr>
    <!-- End of product section -->
    </tbody>
</table>
<p>Total: [Total Amount]</p>
<p>Status: [Status]</p>
<p>Best regards,</p>
<p>Your E-commerce Store Team</p>
</body>
</html>